<section class="loginSection">
  <div class="container logo-container">
    <div class="col">
      <div class="container-img col-12">
        <img src="../../../assets/images/logotypeFoodelicious.png" class="img-fluid logo" alt=""/>
      </div>

      <div class="card col-6" id="login">
        <form>
          <h3 class="title text-center">Please sign in</h3>
          <p>We can't sign into your account</p>
          <label>Email address</label>
          <input type="text" name="email" />

          <label>Password</label>
          <input type="password" name="password" />
          <input type="submit" class="btn" value="Sing in"/>
        </form>
      </div>
    </div>
  </div>
</section>
