.loginSection {
  background-image: url("../../../assets/images/background_login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.card {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.title {
  font-size: 2em;
  color: #ff7a01;
  font-family: "Poppins", sans-serif;
}
.text-danger {
  text-align: start;
}
#singIn {
  border: none;
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: #ff7a01;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}
