<section class="auth-form">
      <div class="card col-4 color">
        <div class="card-body">
          <h3 class="title text-center">Please sign in</h3>
          <form>
            <div class="form-group">
              <div class="form-floating mb-3">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com"/>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="text-danger">
                <span>The Email address <strong> is required.</strong></span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-floating mb-3">
                <input formControlName="password" type="password" class="form-control" id="floatingInput" placeholder="name@example.com"/>
                <label for="validationPassword" class="form-label">Password</label>
              </div>
              <div class="text-danger">
                <span>The password <strong> is required.</strong></span>
              </div>
            </div>
            <div class="d-grid">
            <button type="submit" id="singIn" class="btn btn-warning">Sing in</button>
            </div>
          </form>
        </div>
      </div>
</section>
