.homeSection {
  background: rgb(37, 58, 112);
  background: radial-gradient(
    circle,
    rgba(37, 58, 112, 1) 0%,
    rgba(26, 39, 71, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#header {
  background-color: #0d1426;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  height: 114px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#header img {
  position: sticky;
  height: 114px;
  margin: 0 10px;
}
#header span {
  position: sticky;
  height: 114px;
  margin-right: 5%;
  font-size: 34px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* What order are you going to take? */
#orderType {
  position: absolute;
  width: 246px;
  height: 654px;
  left: 42px;
  top: 241px;
  height: 654px;
  width: 246px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
span {
  font-family: "Veneer";
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
#contentBtn {
  display: flex;
  flex-direction: column;
}
.orderTypeBtn {
  border: none;
  width: 160px;
  height: 40px;
  margin: 20px auto;
  background: #ff7a01;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

/* Filter's buttons */
#filtersBtn {
  display: flex;
  flex-direction: row;
}
#filtersBtn button {
  border: none;
  width: 160px;
  height: 40px;
  margin: 20px auto;
  background: #ff7a01;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

/* Order resume */
#order {
  position: absolute;
  width: 278px;
  height: 654px;
  left: 1120px;
  top: 241px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#personResume {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
#personResume input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ff7a01;
  border-radius: 25px;
}
label {
  color: #fff;
  font-weight: bold;
}
#orderResume {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
#resumOfListProducts {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ff7a01;
  border-radius: 25px;
}
