<section class="homeSection">
<main id="header" class="row-6">
    <img
          src="../../../assets/images/logotypeFoodelicious.png"
          class="img-fluid logo"
          alt=""
        />
    <span>¡Hi, delicious! Are you ready?</span>
</main>
<main>
  <div id="orderType">
    <span>what order are you going to take?</span>
    <div id="contentBtn">
      <button class="orderTypeBtn" id="breakfastBtn">BREAKFAST</button>
      <button class="orderTypeBtn" id="othersBtn">OTHERS</button>
    </div>
  </div>
  <div id="filters"></div>
  <div id="productsOfList">Briiiiiiiiiiiiiii</div>
  <div id="order">!!!!!!!!!!!!!!</div>
</main>
</section>
